<ngx-page-search-fields>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label class="label" for="title">Title</label>
                <input class="input-full-width shape-rectangle"
                       fieldSize="medium"
                       id="title" nbInput placeholder="enter title" type="text"
                >
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label class="label" for="lastName">Date Range</label>
                <input class="input-full-width shape-rectangle "
                       fieldSize="medium"
                       id="lastName" nbInput placeholder="Enter stages count" type="number"
                >
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <label class="label" for="otherName">Created By</label>
                <input class="input-full-width "
                       fieldSize="medium"
                       id="otherName" nbInput placeholder="Select Supervisor" type="text"
                >
            </div>
        </div>
    </div>
</ngx-page-search-fields>