<div class="row">
    <div class="col-sm-12 col-md-9">
        <div class="form-group">
            <label for="title">Pipeline Title</label>
            <input #titleInputRef [(ngModel)]="pipeline.title"
                   [status]="pipeline.title? 'basic': 'danger'"
                   autofocus
                   class="input-full-width"
                   fieldSize="medium"
                   id="title" nbInput placeholder="Enter a title for the pipeline" type="text"
            >
        </div>
    </div>
    <div class="col-sm-12 col-md-3 align-self-end">

        <div class="form-group">
            <button
                    (click)="onAddStage()"
                    [status]="'basic'"
                    class="" nbButton>
                <nb-icon [icon]="'plus'"></nb-icon>
                Add Step
            </button>
        </div>
    </div>
</div>
