<ngx-page-header
        pageDescription="Create, update and manage all your pipeline in one place."
        pageTitle="Manage Pipeline"
></ngx-page-header>
<ngx-page-spacer>
    <nb-card>
        <nb-card-body>

            <ngx-pipeline-filter></ngx-pipeline-filter>

            <ngx-page-spacer [class]="'d-flex flex-column flex-wrap justify-content-between flex-sm-row'">
                <ngx-page-buttons [buttons]="pageButtons"></ngx-page-buttons>
                <ngx-page-view-buttons [class]="'mt-sm-1r'" [options]="pageViewOpts"></ngx-page-view-buttons>
            </ngx-page-spacer>

            <ngx-page-spacer>
                <ngx-pipeline-data-renderer></ngx-pipeline-data-renderer>
            </ngx-page-spacer>

        </nb-card-body>
    </nb-card>
</ngx-page-spacer>