@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '@nebular/theme/styles/globals';
@import '@nebular/auth/styles/globals';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/grid';

// loading progress bar theme
@import './pace.theme';

@import './layout';
@import './overrides';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  @include ngx-layout();
  // loading progress bar
  @include ngx-pace-theme();

  @include nb-overrides();
}

;

.pointer {
  cursor: pointer;
}

nb-checkbox .custom-checkbox {
  width: 16px;
  height: 16px;
}

thead {
}

th {
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-weight: 500
}

td {
  padding-left: 20px;
  padding-right: 20px;
}

.empty-table {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media screen and (max-width: 767px) {
  .mt-0-5r {
    margin-top: 0.5rem;
  }
  .mt-1r {
    margin-top: 1rem;
  }
}

/*Device = Low Resolution Tablets, Mobiles (Landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
}

/*Device = Most of the Smartphones Mobiles (Portrait)*/
@media (min-width: 320px) and (max-width: 480px) {
}

/*
  Combining
 */
@media (min-width: 481px) and (max-width: 767px),
(min-width: 320px) and (max-width: 480px) {
  .ml-sm-1r {
    margin-left: 1rem !important;
  }

  .mt-sm-1r {
    margin-top: 1rem !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }
}