// @nebular theming framework
@import '@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '@nebular/theme/styles/themes';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$nb-themes: nb-register-theme((
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: #f7f9fc,
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  // override primary color
        color-primary-100: #FEF1CD,
        color-primary-200: #FEE09C,
        color-primary-300: #FCCA6A,
        color-primary-400: #FAB345,
        color-primary-500: #F79009,
        color-primary-600: #D47206,
        color-primary-700: #B15704,
        color-primary-800: #8F4002,
        color-primary-900: #762F01,
  //text-basic-color: color-basic-800,
  //text-disabled-color: color-basic-600
        font-family-primary: unquote('Inter, sans-serif'),
        font-family-secondary: font-family-primary,
), default, default);

$nb-themes: nb-register-theme((
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: #252547,
        slide-out-shadow-color: 2px 0 3px #29157a,
        slide-out-shadow-color-rtl: -2px 0 3px #29157a,
  // override primary color
        color-primary-100: #FEF1CD,
        color-primary-200: #FEE09C,
        color-primary-300: #FCCA6A,
        color-primary-400: #FAB345,
        color-primary-500: #F79009,
        color-primary-600: #D47206,
        color-primary-700: #B15704,
        color-primary-800: #8F4002,
        color-primary-900: #762F01,
  //text-basic-color: color-basic-800,
  //text-disabled-color: color-basic-600
        font-family-primary: unquote('Inter, sans-serif'),
        font-family-secondary: font-family-primary,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  // override primary color
        color-primary-100: #FEF1CD,
        color-primary-200: #FEE09C,
        color-primary-300: #FCCA6A,
        color-primary-400: #FAB345,
        color-primary-500: #F79009,
        color-primary-600: #D47206,
        color-primary-700: #B15704,
        color-primary-800: #8F4002,
        color-primary-900: #762F01,
  //text-basic-color: color-basic-800,
  //text-disabled-color: color-basic-600
        font-family-primary: unquote('Inter, sans-serif'),
        font-family-secondary: font-family-primary,
), corporate, corporate);

$nb-themes: nb-register-theme((
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
        slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
  // override primary color
        color-primary-100: #FEF1CD,
        color-primary-200: #FEE09C,
        color-primary-300: #FCCA6A,
        color-primary-400: #FAB345,
        color-primary-500: #F79009,
        color-primary-600: #D47206,
        color-primary-700: #B15704,
        color-primary-800: #8F4002,
        color-primary-900: #762F01,
  //text-basic-color: color-basic-800,
  //text-disabled-color: color-basic-600
        font-family-primary: unquote('Inter, sans-serif'),
        font-family-secondary: font-family-primary,
), dark, dark);
