.drawer {
  width: 50% !important;
  height: 100% !important;
  top: 0;
  position: absolute;
  transition: all 0.5s ease;
}

.drawer.open {
  transform: translateX(0%);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.model-full {
  width: 50% !important;
  height: 100% !important;
  top: 0;
  position: absolute;

  .cdk-visually-hidden {
    width: 99% !important;
    height: 99% !important;
  }

  nb-dialog-container {
    width: 100% !important;
    height: 100% !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .model-full {
    width: 82% !important;
    height: 100% !important;
    top: 0;
    left: 70px;
    position: absolute;
  }
}