<ngx-page-spacer>

    <div class="d-flex flex-row justify-content-between py-2">
        <label class="">List of pipelines found</label>
        <nb-icon icon="more-vertical-outline"></nb-icon>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th scope="col">
                    <nb-checkbox status="basic"></nb-checkbox>
                </th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle of the pipeline</th>
                <th scope="col">Date of Creation</th>
                <th scope="col">State of the Pipeline</th>
                <th scope="col">Status</th>
                <th scope="col">Handle of the pipeline</th>
                <th scope="col">Date of Creation</th>
                <th scope="col">State of the Pipeline</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">
                    <nb-checkbox status="basic"></nb-checkbox>
                </th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">
                    <nb-checkbox status="basic"></nb-checkbox>
                </th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>

            </tbody>
        </table>

    </div>

    <div class="d-flex flex-row justify-content-between mt-4 py-2 align-items-center">
        <label class="">Page 1 of 20</label>

        <ul class="pagination">

            <li class="page-item disabled">
                <a class="page-link" tabindex="-1">Previous</a>
            </li>

            <li class="page-item"><a class="page-link">1</a></li>
            <li class="page-item"><a class="page-link">2</a></li>
            <li class="page-item"><a class="page-link">3</a></li>

            <li class="page-item">
                <a class="page-link">Next</a>
            </li>
        </ul>

        <nb-select placeholder="Size" size="small">
            <nb-option value="0">10</nb-option>
            <nb-option value="1">20</nb-option>
            <nb-option value="2">30</nb-option>
            <nb-option value="3">40</nb-option>
            <nb-option value="4">50</nb-option>
        </nb-select>
    </div>

</ngx-page-spacer>
