<div class="row">
    <div class="col-sm-12 col-md-12">
        <nb-accordion>
            <nb-accordion-item *ngFor="let stage of pipeline?.stages; let i = index" class="mt-1">
                <nb-accordion-item-header>
                    Step {{i + 1}}

                    <ngx-icon-button
                            (click)="$event.stopPropagation()"
                            [action]="onRemoveStage"
                            [args]="{stage, pipeline}"
                            [icon]="'trash-2-outline'"
                            [size]="'small'"
                            [status]="'danger'" class="mr-3"
                    ></ngx-icon-button>

                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    <ngx-pipeline-stage [stage]="stage"></ngx-pipeline-stage>
                </nb-accordion-item-body>
            </nb-accordion-item>

        </nb-accordion>
    </div>

</div>


